<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display friends</title>
</head>

<body>
    <div class="headder"></div>
    <h2>These are all my friends!</h2>
    {% for friend in friends %}
    <h5>First name: {{friend.first_name}}</h5>
    <h5>Last name: {{friend.last_name}}</h5>
    <h5>Occupation: {{friend.occupation}}</h5>
    __________________________________________ {% endfor %}
    </div>
    <div class="getinfo">
        <form action="/create_friend" method="POST">
            First name: <input type="text" name="first_name"><br> Last name: <input type="text" name="last_name"> <br> Occupation: <input type="text" name="occupation">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html5