<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h3>Success!</h3>
    <div>
        <label for="email">Email: </label> {{session['email']}}<br>
        <label for="fname">First Name: </label> {{session['first_name']}}<br>
        <label for="lname">Last Name: </label> {{session['last_name']}}<br>
    </div>
    <form action="/return" method="POST">
        <button>Return</button>
    </form>
</body>

</html>