<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form action='/process' method='post'>
            <label for="name">Your Name:</label><input type='text' name='name'>
            <label for="location">Location:<select class="select" name="location">
                <option>San Jose</option>
                <option>Seattle</option>
                <option>Chicago</option>
                <option>Austin</option>
            </select></label>
            <label for="language">Favorite Language:<select class="select" name="language">
                <option>Python</option>
                <option>JavaScript</option>
                <option>Java</option>
                <option>C#</option>
                </select>
            </label>
            <label for="comment">Comment (optional)<textarea name="comment" cols="30" rows="5"></textarea></label>

            <input type='submit' value='Submit'>
        </form>
    </div>
</body>

</html>