<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
        .box {
            background-color: LightBlue;
            height: 100px;
            width: 100px;
            border: 1px solid black;
            display: inline-block
        }
        
        h1 {
            color: maroon;
            margin-left: 40px;
        }
    </style>
</head>

<body>
    <h1>Wellcome!</h1>
    {% for x in range(0,times): %}
    <div class="box" style="background-color:{{color}}"></div>
    {% endfor %}
</body>

</html>